In [60]:
import os
import pickle
import pandas as pd
import glob
import cudf
from datetime import datetime
import numpy as np
pd.options.display.max_rows = 999


def read_file(f):
    df = cudf.read_parquet(f)
    df.ts = (df.ts / 1000).astype("int32")
    return df

In [2]:
test_labels = pd.read_parquet("./input/otto-validation/test_labels.parquet")
test_labels["gt_len"] = test_labels["ground_truth"].str.len()

In [70]:
session_id = np.random.choice(test_labels["session"].unique().tolist())

file_path = "./input/otto-chunk-data-inparquet-format/*_parquet/*"
files = glob.glob(file_path)

dfs = []
for f in files:
    df = read_file(f)
    df = df[df["session"] == session_id]
    dfs.append(df)
    
df = cudf.concat(dfs)
df = df.to_pandas()
df["dt"] = df.apply(lambda x: datetime.fromtimestamp(x["ts"]), axis=1)

In [71]:
df

         session      aid          ts    type                  dt
442159  12253710  1072456  1661517535  clicks 2022-08-26 12:38:55
442160  12253710  1833317  1661517560  clicks 2022-08-26 12:39:20
442161  12253710  1833317  1661517598   carts 2022-08-26 12:39:58
442162  12253710   103492  1661517605  clicks 2022-08-26 12:40:05
442163  12253710   103492  1661517616   carts 2022-08-26 12:40:16
442164  12253710  1838935  1661517622  clicks 2022-08-26 12:40:22
442165  12253710  1838935  1661517628   carts 2022-08-26 12:40:28
442166  12253710   103492  1661517630  clicks 2022-08-26 12:40:30
442167  12253710  1833317  1661517631  clicks 2022-08-26 12:40:31
442168  12253710  1188605  1661517696  clicks 2022-08-26 12:41:36
442169  12253710   501243  1661517726   carts 2022-08-26 12:42:06
442170  12253710   313936  1661517796  clicks 2022-08-26 12:43:16
442171  12253710   659724  1661517888   carts 2022-08-26 12:44:48
442172  12253710  1726862  1661517959  clicks 2022-08-26 12:45:59
442173  12253710  1726862  1661517970   carts 2022-08-26 12:46:10
442174  12253710   229499  1661518128  clicks 2022-08-26 12:48:48
442175  12253710  1611400  1661518211  clicks 2022-08-26 12:50:11
442176  12253710   149888  1661518720  clicks 2022-08-26 12:58:40
442177  12253710  1400432  1661518750  clicks 2022-08-26 12:59:10
442178  12253710   755653  1661519235   carts 2022-08-26 13:07:15
442179  12253710   659724  1661519602  orders 2022-08-26 13:13:22
442180  12253710   501243  1661519602  orders 2022-08-26 13:13:22
442181  12253710   103492  1661519602  orders 2022-08-26 13:13:22
442182  12253710   755653  1661519602  orders 2022-08-26 13:13:22
442183  12253710  1726862  1661519602  orders 2022-08-26 13:13:22
442184  12253710  1789460  1661519602  orders 2022-08-26 13:13:22

In [81]:
df.sort_values(["aid", "ts"])

         session      aid          ts    type                  dt
442162  12253710   103492  1661517605  clicks 2022-08-26 12:40:05
442163  12253710   103492  1661517616   carts 2022-08-26 12:40:16
442166  12253710   103492  1661517630  clicks 2022-08-26 12:40:30
442181  12253710   103492  1661519602  orders 2022-08-26 13:13:22
442176  12253710   149888  1661518720  clicks 2022-08-26 12:58:40
442174  12253710   229499  1661518128  clicks 2022-08-26 12:48:48
442170  12253710   313936  1661517796  clicks 2022-08-26 12:43:16
442169  12253710   501243  1661517726   carts 2022-08-26 12:42:06
442180  12253710   501243  1661519602  orders 2022-08-26 13:13:22
442171  12253710   659724  1661517888   carts 2022-08-26 12:44:48
442179  12253710   659724  1661519602  orders 2022-08-26 13:13:22
442178  12253710   755653  1661519235   carts 2022-08-26 13:07:15
442182  12253710   755653  1661519602  orders 2022-08-26 13:13:22
442159  12253710  1072456  1661517535  clicks 2022-08-26 12:38:55
442168  12253710  1188605  1661517696  clicks 2022-08-26 12:41:36
442177  12253710  1400432  1661518750  clicks 2022-08-26 12:59:10
442175  12253710  1611400  1661518211  clicks 2022-08-26 12:50:11
442172  12253710  1726862  1661517959  clicks 2022-08-26 12:45:59
442173  12253710  1726862  1661517970   carts 2022-08-26 12:46:10
442183  12253710  1726862  1661519602  orders 2022-08-26 13:13:22
442184  12253710  1789460  1661519602  orders 2022-08-26 13:13:22
442160  12253710  1833317  1661517560  clicks 2022-08-26 12:39:20
442161  12253710  1833317  1661517598   carts 2022-08-26 12:39:58
442167  12253710  1833317  1661517631  clicks 2022-08-26 12:40:31
442164  12253710  1838935  1661517622  clicks 2022-08-26 12:40:22
442165  12253710  1838935  1661517628   carts 2022-08-26 12:40:28

In [72]:
hoge = test_labels[test_labels["session"] == session_id]
hoge

,session,type,ground_truth,gt_len
1420338,12253710,clicks,[103492],1
1420339,12253710,carts,"[103492, 755653, 1833317, 1838935, 501243, 659...",7
1420340,12253710,orders,"[103492, 755653, 1789460, 501243, 659724, 1726...",6

In [79]:
set(hoge.loc[1420339, "ground_truth"].tolist()) - set(hoge.loc[1420340, "ground_truth"].tolist())

{1833317, 1838935}

In [80]:
set(hoge.loc[1420340, "ground_truth"].tolist()) - set(hoge.loc[1420339, "ground_truth"].tolist())

{1789460}