In [75]:
import os
import pickle
import pandas as pd
import glob
import cudf
from datetime import datetime
pd.options.display.max_rows = 999


def read_file(f):
    df = cudf.read_parquet(f)
    df.ts = (df.ts / 1000).astype("int32")
    return df

In [57]:
test_labels = pd.read_parquet("./input/otto-validation/test_labels.parquet")
test_labels["gt_len"] = test_labels["ground_truth"].str.len()

In [91]:
test_labels.loc[:15]

,session,type,ground_truth,gt_len
0,11098528,clicks,[1679529],1
1,11098528,carts,[1199737],1
2,11098528,orders,"[990658, 950341, 1462506, 1561739, 907564, 369...",11
3,11098529,clicks,[1105029],1
4,11098530,orders,[409236],1
5,11098531,orders,[1365569],1
6,11098532,clicks,[1596491],1
7,11098533,clicks,[1417450],1
8,11098533,carts,"[108676, 1406660, 988295, 1118792, 1366413, 15...",26
9,11098533,orders,"[935297, 652916, 334581, 1233050, 1366413, 118...",6
10,11098534,clicks,[908024],1
11,11098534,carts,[223062],1
12,11098534,orders,[223062],1
13,11098535,clicks,[745365],1
14,11098536,clicks,[1548432],1
15,11098536,carts,[649909],1

In [92]:
file_path = "./input/otto-chunk-data-inparquet-format/*_parquet/*"
files = glob.glob(file_path)

dfs = []
for f in files:
    df = read_file(f)
    df = df[df["session"] == 11098534]
    dfs.append(df)
    
df = cudf.concat(dfs)
df = df.to_pandas()
df["dt"] = df.apply(lambda x: datetime.fromtimestamp(x["ts"]), axis=1)
df = df.sort_values("dt")

In [93]:
df

         session      aid          ts    type                  dt
885501  11098534  1449202  1661119202  clicks 2022-08-21 22:00:02
885502  11098534   223062  1661119496  clicks 2022-08-21 22:04:56
885503  11098534  1607945  1661119527  clicks 2022-08-21 22:05:27
885504  11098534  1342293  1661119561  clicks 2022-08-21 22:06:01
885505  11098534   223062  1661119703  clicks 2022-08-21 22:08:23
885506  11098534   223062  1661119810  clicks 2022-08-21 22:10:10
885507  11098534   908024  1661120868  clicks 2022-08-21 22:27:48
885508  11098534   908024  1661120876  clicks 2022-08-21 22:27:56
885509  11098534  1342293  1661157930  clicks 2022-08-22 08:45:30
885510  11098534   223062  1661158090  clicks 2022-08-22 08:48:10
885511  11098534   223062  1661158163   carts 2022-08-22 08:49:23
885512  11098534   931446  1661158183  clicks 2022-08-22 08:49:43
885513  11098534   223062  1661158214  clicks 2022-08-22 08:50:14
885514  11098534   223062  1661158238  clicks 2022-08-22 08:50:38
885515  11098534   223062  1661158298   carts 2022-08-22 08:51:38
885516  11098534   223062  1661158798  orders 2022-08-22 08:59:58
885517  11098534  1716289  1661161156  clicks 2022-08-22 09:39:16
885518  11098534   840236  1661161598  clicks 2022-08-22 09:46:38
885519  11098534  1608848  1661163311  clicks 2022-08-22 10:15:11
885520  11098534   958130  1661163542  clicks 2022-08-22 10:19:02
885521  11098534   344120  1661163581  clicks 2022-08-22 10:19:41
885522  11098534  1149615  1661164299  clicks 2022-08-22 10:31:39
885523  11098534    83052  1661169403  clicks 2022-08-22 11:56:43
885524  11098534   769600  1661416717  clicks 2022-08-25 08:38:37

In [94]:
hoge = test_labels[test_labels["session"] == 11098534]
hoge

     session    type ground_truth  gt_len
10  11098534  clicks     [908024]       1
11  11098534   carts     [223062]       1
12  11098534  orders     [223062]       1

In [99]:
file_path = "./input/otto-validation/test_parquet/*"
files = glob.glob(file_path)

dfs = []
for f in files:
    _df = read_file(f)
    _df = _df[_df["session"] == 11098534]
    dfs.append(_df)
    
df_train = cudf.concat(dfs)
df_train = df_train.to_pandas()
df_train["dt"] = df_train.apply(lambda x: datetime.fromtimestamp(x["ts"]), axis=1)

In [100]:
df_train

     session      aid          ts    type                  dt
51  11098534  1449202  1661119202  clicks 2022-08-21 22:00:02
52  11098534   223062  1661119496  clicks 2022-08-21 22:04:56
53  11098534  1607945  1661119527  clicks 2022-08-21 22:05:27
54  11098534  1342293  1661119561  clicks 2022-08-21 22:06:01
55  11098534   223062  1661119703  clicks 2022-08-21 22:08:23
56  11098534   223062  1661119810  clicks 2022-08-21 22:10:10
57  11098534   908024  1661120868  clicks 2022-08-21 22:27:48