In [13]:
import pandas as pd
import pickle
import os

In [32]:
pred_df = pickle.load(open("../output/cv/pred_df.pkl", "rb"))

In [34]:
pred_df[pred_df["session"] == '12825444']

          session                                             labels    type
1726916  12825444                          [315484, 490627, 1465437]  clicks
3528167  12825444  [1799296, 490627, 1427516, 1091187, 456754, 14...  orders
5329418  12825444  [1799296, 490627, 1427516, 1091187, 456754, 14...   carts

In [28]:
pred_df = pred_df.explode("labels")

In [29]:
pred_df.head()

    session   labels    type
0  11098528   588923  clicks
0  11098528  1732105  clicks
0  11098528   571762  clicks
0  11098528   884502  clicks
0  11098528  1157882  clicks

In [30]:
pred_df = pred_df.rename(columns={"labels": "aid"})

In [31]:
pred_df.to_csv("pred_df.csv", index=False)

In [20]:
df = pd.read_csv("../output/splendid-flower-28/cv/full_columns_validation_preds.csv")
df["session"] = df["session_type"].apply(lambda x: x.split("_")[0])
df["type"] = df["session_type"].apply(lambda x: x.split("_")[1])
df = df[["session", "type", "top_n"]]
df["top_n"] = df["top_n"].apply(lambda x: [int(v) for v in x.split(" ")])
df = df.explode("top_n")
df = df.rename(columns={"top_n": "aid"})
df.head()

    session    type      aid
0  11098528  clicks    11830
0  11098528  clicks   588923
0  11098528  clicks  1732105
0  11098528  clicks   571762
0  11098528  clicks   884502

In [21]:
df.shape

(100348921, 3)

In [22]:
df.to_csv("covisit.csv", index=False)

In [5]:
top_n_clicks = pickle.load(open(os.path.join("../output/splendid-flower-28/cv", f"top_20_clicks_0.pkl"), "rb"))

In [11]:
top_n_clicks[0]

[532042,
 643097,
 1848174,
 1735605,
 1363081,
 1012453,
 251581,
 1256426,
 994505,
 150507,
 39551,
 66456,
 215649,
 285817,
 319593,
 353304,
 435875,
 472412,
 505086,
 878565]