In [1]:
import pandas as pd
import pickle

In [12]:
pred_click = pickle.load(open("../output/gru4rec/stoic-paper-428/cv/test_labels_clicks.pkl", "rb"))

In [13]:
pred_click.shape

(1755534, 7)

In [14]:
pred_click_best = pickle.load(open("../output/gru4rec/crisp-glitter-347/cv/test_labels_clicks.pkl", "rb"))

In [15]:
pred_click_best.shape

(1755534, 7)

In [18]:
pred_click.head(10)

,session,type,ground_truth,aid,hits,gt_count,recall
0,11098528,clicks,[1679529],"[11830, 571762, 588923, 884502, 322370, 231487...",0,1,0.0
1,11098529,clicks,[1105029],[],0,1,0.0
2,11098532,clicks,[1596491],"[876469, 1159379, 1202618, 1704066, 77906, 108...",0,1,0.0
3,11098533,clicks,[1417450],[],0,1,0.0
4,11098534,clicks,[908024],"[123362, 908024, 1789979, 1281786, 721034, 756...",1,1,1.0
5,11098535,clicks,[745365],[],0,1,0.0
6,11098536,clicks,[1548432],"[1808377, 1320019, 1248272, 171073, 712456, 74...",0,1,0.0
7,11098537,clicks,[1503532],[],0,1,0.0
8,11098538,clicks,[1452081],[],0,1,0.0
9,11098539,clicks,[1049480],"[631008, 1057728, 803544, 1060697, 1196705, 76...",1,1,1.0

In [19]:
pred_click_best.head(10)

,session,type,ground_truth,aid,hits,gt_count,recall
0,11098528,clicks,[1679529],"[11830, 588923, 1182614, 884502, 231487, 87612...",0,1,0.0
1,11098529,clicks,[1105029],"[1105029, 612829, 1717995, 1023655, 984936, 12...",1,1,1.0
2,11098532,clicks,[1596491],"[77906, 876469, 1202618, 1704066, 108125, 7651...",0,1,0.0
3,11098533,clicks,[1417450],"[385390, 978918, 1074173, 1758448, 1590427, 15...",0,1,0.0
4,11098534,clicks,[908024],"[796861, 1441266, 445136, 1116864, 1204227, 41...",0,1,0.0
5,11098535,clicks,[745365],"[1750442, 683313, 796880, 745365, 1759600, 896...",1,1,1.0
6,11098536,clicks,[1548432],"[206735, 712456, 1320019, 1745348, 1600635, 12...",0,1,0.0
7,11098537,clicks,[1503532],"[358965, 1219423, 1664466, 518574, 590997, 266...",0,1,0.0
8,11098538,clicks,[1452081],"[1820142, 1176853, 1263747, 351587, 987426, 18...",1,1,1.0
9,11098539,clicks,[1049480],"[1658802, 1243848, 1408458, 510211, 469720, 16...",0,1,0.0

In [28]:
recall = pred_click_best["hits"].sum() / pred_click_best["gt_count"].sum()
recall

0.46397791213385786

In [61]:
joined = pred_click_best[["session", "ground_truth", "aid", "recall"]].merge(pred_click[["session", "aid", "recall"]], on=["session"], how="left")

In [62]:
joined["aid"] = joined.apply(lambda x: list(set(x["aid_x"]) | set(x["aid_y"])), axis=1)

In [63]:
joined["hits"] = joined.apply(lambda df: len(set(df["ground_truth"]).intersection(set(df["aid"]))), axis=1)
joined["gt_count"] = joined.ground_truth.str.len().clip(0, 20)
joined["recall"] = joined["hits"] / joined["gt_count"]
recall = joined["hits"].sum() / joined["gt_count"].sum()
recall

0.4970214191237538

In [64]:
joined["aid"].str.len().value_counts()

30    594531
44     80551
47     74980
46     72740
43     72274
45     71602
48     68376
49     65081
42     60996
50     57830
51     56552
52     53872
59     48431
41     47453
53     45854
54     42605
55     39633
58     37788
56     36148
40     35605
57     34046
39     24287
38     14515
60      8764
37      7836
36      2471
35       588
34       118
33         7
Name: aid, dtype: int64

In [65]:
joined["aid"].str.len().mean()

42.10278354050676